<html>
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidos a Mercado Liebre</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/formularios.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre"/></a>
            </div>
            <form class="busqueda" action="submit" method="GET">
                <input type="text" name="busar" placeholder="Buscar productos, marcas">
                <i class="fa fa-search"></i>
            </form>
        </form>
        <p class="subtitulo"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>
        <div class="link">

            <nav>
                <ul>
                    <li class="links"> <a href="#">Ofertas</a></li>
                    <li class="links"> <a href="#">Tiendas Oficiales</a></li>
                    <li class="links"> <a href="#">Vender</a></li>
                    <li class="links"> <a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li class="links"><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li class="links"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li class="links"><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
<form class="formulario" action="/register" method="POST">
    <h3 class="enunciado">Formulario de registro a Mercado Liebre</h3>
    <p>
        <label class="texto" for="nombre">Nombre y apellido</label>
        <input class="usuario" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
    </p>
    <p>
        <label class="texto" for="usuario">Nombre de usuario</label>
        <input class="usuario" type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
    </p>
    <p>
        <label class="texto" for="nacimiento">Fecha de nacimiento</label>
        <input class="fecha-nacimiento" type="date" name="nacimiento" id="nacimiento" placeholder="Fecha de nacimiento">
    </p>
    <p>
        <label class="texto" for="domicilio">Domicilio</label>
        <input class="usuario" type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
    </p>
    <label class="texto" for="perfil">Perfil del usuario</label>
    <select class="fecha-nacimiento" name="Perfil">
        <option value="vendedor">Vendedor</option>
        <option value="comprador">Comprador</option>
        <option value="ambos">Ambos</option>
    </select>
    <p>
        <label class="texto" for="interes">¿En qué está interesado?</label>
            <section class="eleccion">
                <p class="interes">
                    <input class="box" type="checkbox" name="electro" value="Electro">
                    <label for="electro">Electro</label>
                </p>
                <p class="interes">
                    <input class="box" type="checkbox" name="moda" value="Moda">
                    <label for="moda">Moda</label>
                </p>
                <p class="interes">
                    <input class="box" type="checkbox" name="hogar" value="Hogar">
                    <label for="hogar">Hogar</label>
                </p>
                <p class="interes">
                    <input class="box" type="checkbox" name="jugueteria" value="Juguetería">
                    <label for="jugueteria">Juguetería</label> 
                </p>
                <p class="interes">
                    <input class="box" type="checkbox" name="vida" value="Vida sana">
                    <label for="vida">Vida sana</label>
                </p>
            </section>    
    </p>
    <p>
        <label class="texto" for="foto">Ingrese su foto de perfil</label>
        <input type="file" name="avatar" accept=".jpg" multiple>
    </p>
        <input class="fecha-nacimiento" type="password" name="contraseña" placeholder="Cree su contraseña">      
    </p>
    <p>
        <input class="usuario" type="password" name="contraseña" placeholder="Confirme su contraseña">
    </p>
    <p>
        <button class="boton" type="submit">Enviar</button>
    </p>
    <p>
        <button class="boton borrar" type="reset">Borrar</button>
    </p>
</form>
<footer>
    <div class="consejos">
        <section class="consejo">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="consejo">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="consejo">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
    </div>
    <section class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>
</body>
</html>


