*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.formulario{
    padding: 10px;
    padding-top: 30px;
    flex-direction: column;
    text-align: center;
    display: flex;
    width: 320px;
    margin: auto;
}

.usuario{
    width: 100%;
    background-color: white;
    border: none;
    flex-grow: 1;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border-color: white;
    padding: 8px;
    align-items: center;
    text-align: center;
}

.contraseña{
    width: 100%;
    background-color: white;
    border: none;
    flex-grow: 1;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border-color: white;
    padding: 8px;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.boton{
    color: white;
    width: 100%;
    border: none;
    flex-grow: 1;
    font-size: 14px;
    border-radius: 7px;
    background-color:#1259c3;
    padding: 6px;
    margin-top: 25px;
    cursor: pointer;
}

.boton.borrar{
    margin-top: 10px;
}

.boton:hover{
    background-color: #0022AA;
}

.texto{
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-top:30px;
    text-align: left;
}
.fecha-nacimiento{
    width: 100%;
    margin: auto;
    background-color: white;
    border: none;
    flex-grow: 1;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border-color: white;
    padding: 8px;
    align-items: center;
    text-align: center;    
}

.eleccion{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    width: 100%;
    margin-top: 10px;
}

.eleccion .interes{
    margin: 5px 0px;
}

.eleccion .interes label{
    font-size: 15px;
    margin-left: 5px;
}


@media (min-width: 769px){
    .formulario {
        width: 630px;
    }
}