/*
    Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0px;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
    padding: 25px;
}

header .logo{
    width: 250px;
}

header form input, header form button{
    font-size: 20px;
}

header .subtitulo{
    font-size: 15px;
    font-weight: bold;
}

header .burger-menu{
    background-color: #1259c3;
    width: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    font-size: 24px;
    color: white;
    padding: 11px;
    border-radius: 7px;
    margin: auto;
}

.banner{
    width: 100%;
}

.banner img{
    width: 100%;
}

nav{
    display: none;
}

nav ul{
    padding-left: 0px;
}

nav li{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.titulares{
    font-size: 24px;
    font-weight: 400;
    color: #666;
}

.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
}

.descripciones{
    font-size: 16px;
}

.consejo{
    text-align: center;
    margin: 50px 0px;
    padding: 0px 50px;
}

.consejo i{
    font-size: 2em;
    margin: auto;
    margin-bottom: 13px;
    color: #1259c3;
}

.consejo h3{
    font-size: 20px;
    margin: auto;
    font-weight: bolder;
    margin-bottom: 5px;
}

.consejo p{
    margin: 0px auto;
}

main {
    width: 90vw;
    margin: auto;

}

main ul{
    list-style-type: none;
    padding: 0px;
}

main ul li{
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
}

main ul li img{
    width: 100%;
}

.articulo{    
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
}

.articulo i {
    color: #39b54a;
    font-size: 1.3em;
    border: 2px solid #39b54a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articulo .precios{
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}

.articulo .descuentos{
    color: #39b54a;
    margin: 0px;
    margin-top: 7px;
}

.articulo .descripciones{
    font-size: 16px;
    margin: 0px;
    margin-top: 15px;
    color: #666;
    display: none;
}

@media(min-width: 361px){
    .articulo .descripciones{
        display: block;
    }

    main ul li{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    nav{
        display: block;
    }

    .burger-menu{
        display: none;
    }
}