@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;

}
header{
    background-color: yellow;
}
header div.logo {
    width: 50%;
    padding: 10px;
}
h3{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
.descripciones{
    font-size: 16 px;
}